{% load i18n contentmanagertags %}
{% load url from future %}
<div class ="{{ blck.plugin_type.name|lower }} {% if blck.klass %} {{ blck.klass }}{% endif %}">
{% render_block request blck %}
</div>
{% has_permissions_for request blck as can_edit %}
{% if can_edit %}
<div class="cmsblockcontrols" style="clear:both;">
{% if small %}
    <a class="cmurl" href="{% url 'add_block' blck.area.pk blck.path.pk blck.position %}">
        <img src="{{ STATIC_URL }}admin/img/icon_addlink.gif" alt="{% trans 'Insert before' %}">
    </a>
    <form action="{% url 'move_block' blck.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="block" value="{{ blck.id }}"/>
        <input type="hidden" name="direction" value="up" />
        <input class="move-up" type="image" src="{{ STATIC_URL}}admin/img/selector-icons.gif"  />
    </form>
    {% if blck.editable %}
        <a class="cmurl" href="{% url 'edit_block' blck.id %}">
            <img src="{{ STATIC_URL }}admin/img/icon_changelink.gif" alt="{% trans 'edit' %}">
        </a>
    {% endif %}
    <a class="cmurl" href="{% url 'delete_block' blck.id %}">
        <img src="{{ STATIC_URL }}admin/img/icon_deletelink.gif" alt="{% trans 'delete' %}">
    </a>
    <a class="cmurl" href="{% url 'style_block' blck.id %}">
        <img src="{{ STATIC_URL }}admin/img/icon-unknown.gif" alt="{% trans 'style' %}">
    </a>
    <form action="{% url 'move_block' blck.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="block" value="{{ blck.id }}"/>
        <input type="hidden" name="direction" value="down"/>
        <input class="move-down" />
    </form>
    <a class="cmurl" href="{% url 'add_block' blck.area.pk blck.path.pk blck.position|add:1 %}">
        <img src="{{ STATIC_URL }}admin/img/icon_addlink.gif" alt="{% trans 'insert after' %}">
    </a>
{% else %}
    <a class="cmurl insert-before" href="{% url 'add_block' blck.area.pk blck.path.pk blck.position %}">
        {% trans 'insert' %}
    </a>
    <form action="{% url 'move_block' blck.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="block" value="{{ blck.id }}"/>
        <input type="hidden" name="direction" value="up" />
        <input class="move-up" type="image" value="" />
        <a href="#">{% trans 'up' %}</a>
    </form>
    {% if blck.editable %}
        <a class="cmurl edit" href="{% url 'edit_block' blck.id %}">
            {% trans 'edit' %}
        </a>
    {% endif %}
        <a class="cmurl delete" href="{% url 'delete_block' blck.id %}">
            {% trans 'delete' %}
        </a>
        <a class="cmurl style" href="{% url 'style_block' blck.id %}">
            {% trans 'style' %}
        </a>
        <form action="{% url 'move_block' blck.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="block" value="{{ blck.id }}" />
            <input type="hidden" name="direction" value="down" />
            <input class="move-down" type="image" value=""/>
            <a href="#">{% trans 'down' %}</a>
        </form>
        <a class="cmurl insert-after" href="{% url 'add_block' blck.area.pk blck.path.pk blck.position|add:1 %}">
            {% trans 'insert' %}
        </a>
    {% endif %}
</div>
{% endif %}