{% extends template %}
{% load i18n %}
{% load url from future %}
{% block content %}
  {{ block.render|safe }}
  <div class="cmsblockcontrols">
    <span>{% trans 'Are you sure you want to delete this plugin?' %}</span>
    <form class="cmform delete" method="post" action="{% url 'delete_block' blck.id %}">
      {% csrf_token %}
      <input type="submit" name="confirm" value="{% trans 'Yes' %}">
      <a class="cmcancel" href="{{ blck.get_absolute_url }}">{% trans 'Cancel' %}</a>
    </form>
  </div>
{% endblock %}
