{% load contentmanagertags %}
{% for blck in blocks %}
  {% if blck.klass %}
    <div class="{{ blck.klass}}">{% render_block request blck %}</div>
  {% else %}
    <div>{% render_block request blck %}</div>
  {% endif %}
{% endfor %}