{% extends "base.html" %}

{% has_content_permissions request as has_permission %}

{% block extrahead %}
  {{ block.super }}
  <link rel="stylesheet" href="{{ STATIC_URL }}contentmanager/css/contentmanager.css" type="text/css" media="screen">
{% endblock %}

{% block content %}{% endblock %}

{% block extrajs %}
  {% if has_permission %}
    <script type="text/javascript" src = "{{ STATIC_URL }}contentmanager/js/jquery.form.js"></script>
    <script type="text/javascript" src = "{{ STATIC_URL }}contentmanager/js/jquery.contentmanager.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function(){
        jQuery(document).contentmanager();
      });
    </script>
  {% endif %}
{% endblock %}
