{% load i18n contentmanagertags %}
{% load url from future %}

{% has_content_permissions request as can_add %}

{% if blocks %}
  {% for blck in blocks %}
  <div class="cmsblock" id="block_{{ blck.id }}">
    {% include 'contentmanager/block.html' %}
  </div>
  {% endfor %}
{% elif can_add %}
  <div class="cmsblock">
    <div class="cmsblockcontrols">
      <a class="cmurl" href="{% url 'add_block' area.pk path.pk 0 %}">{% trans 'Add' %}</a>
    </div>
  </div>
{% endif %}
