{% extends template %}
{% load i18n %}
{% block content %}
<div class="cm">
  <h2>{{ caption }} {{ plugin_name }}</h2>
  {% if help %}<p>{{ help|safe }}</p>{% endif %}
  <form class="cmedit" method="post" action="{{ post_url }}">
    {% csrf_token %}
    <input type="hidden" name="plugin_type" value="{{ plugin_type }}" />
    <input type="hidden" name="plugin_type_selected" value="True" />
    {{ form.non_field_errors }}
    {% for field in form %}
    <p>
	  {% if field.errors %}<span class="error">{{field.errors }}</span>{% endif %}
	  {% if not field.is_hidden %}<label for="{{ field.html_name }}">{{ field.label }}{% if field.field.required %}*{% endif %}</label>{% endif %}{{ field }}
	  {% if field.help_text %}<br />{{field.help_text }}{% endif %}
    </p>
    {% endfor %}
    <p style="margin-top: .5em">
      <input type="submit" name="save" value="{% trans 'Save' %}" />
      <a class="cmcancel" href="{{ cancel }}">{% trans 'Cancel' %}</a>
    </p>
  </form>
</div>

<script>
  if (typeof jQuery != 'undefined') {
    jQuery(document).ready(function(){
      // this will work *most* of the time
      try { 
        jQuery('form.cmedit input[type="text"]')[0].focus();
      } catch (err) { 
        // ie sucks balls
      }
    });
  }
</script>

{% endblock %}
