{% extends template %}
{% load i18n %}
{% block content %}
<div class="cm">
<h2>{% trans 'Select the plugin you want to add' %}</h2>
<form method="post" class="cmedit" action="{{ post_url }}">
  {% csrf_token %}
  {{ form.as_p }}
  <p style="margin-top:.5em;">
    <input type="submit" name="add" value="{% trans 'Add' %}">
    <a class="cmcancel" href="{{ cancel }}">{% trans 'Cancel' %}</a>
  </p>
</form>
{% ifequal template "contentmanager/ajax.html" %}
</div>
<script>
  $(document).ready(function(){$('.cmedit select').focus()});
</script>
{% endifequal %}
{% endblock %}
