{% extends template %}
{% load i18n %}
{% load url from future %}
{% block content %}
{{ block.render|safe }}
<div class="cm">
  <form class="cmedit" method="post" action="{% url 'style_block' blck.id %}">
    {% csrf_token %}
    {% for field in form %}
    <p>
	  {% if field.errors %}<span class="error">{{field.errors }}</span>{% endif %}
	  {% if not field.is_hidden %}<label for="{{ field.html_name }}">{{ field.label }}</label>{% endif %}
      {{ field }}
	  {% if field.help_text %}<br />{{field.help_text }}{% endif %}
    </p>
    {% endfor %}
    <p style="margin-top: .5em">
      <input type="submit" name="save" value="{% trans 'Save' %}" />
      <a class="cmcancel" href="{{ cancel }}">{% trans 'Cancel' %}</a>
    </p>
  </form>
</div>
{% endblock %}
