{% load i18n %}
<!DOCTYPE html>
<html>
<head>
{% block title %}<title>Demo project</title>{% endblock %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
{% block extrahead %}{% endblock %}
<style> {# make the code-examples a *little* easier to read #}
.literal-block {
  background-color: #ffa;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 1em;
}
.note {
  background-color: #eee;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 0 1em;
}
.simple {
  list-style: none;
  padding:0;
  margin:0;
}
</style>
</head>
<body>
{% if user.is_anonymous %}
  <a href="/admin/" title="Log in">{% trans 'Login' %}</a>
{% else %}
  {% trans "Logged in as" %} {{ user }} | <a href="/admin/logout/">{% trans 'Log out' %}</a>
  {% if user.is_staff %} | <a href="/admin/" title="Admin">{% trans 'Admin' %}</a>{% endif %}
  {% if request.session.contentmanager_editmode %}
    | <a href="?editmode=0">{% trans "Editmode Off" %}</a>
  {% else %}
    | <a href="?editmode=1">{% trans "Editmode On" %}</a>
  {% endif %}
{% endif %}
<hr>
{% block content %}{% endblock %}
{% block extrajs %}{% endblock %}
</body>
</html>
