#cmsdialog table, #cmsdialog tr, #cmsdialog th, #cmsdialog thead, #cmsdialog td {
    border: none;
    width: default;
}

.cmsblockcontrols {
    background-color: #eee;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #ddd;
    margin: .5em 0;
    text-align: center;
    line-height: 1.5em;
    padding-left: 4px;
    font-size: 90%;
}

.cmsblockcontrols a {
    margin-right: 4px;
    text-decoration: none;
    color: #666;
}

.cmsblockcontrols a.insert-after, .cmsblockcontrols a.insert-before {
    margin-right: 4px;
    background:url('../../admin/img/icon_addlink.gif') 0 50% no-repeat; padding-left:14px;
}

.cmsblockcontrols a.edit {
    margin-right: 4px;
    background:url('../../admin/img/icon_changelink.gif') 0 50% no-repeat; padding-left:14px;
}

.cmsblockcontrols a.style {
    margin-right: 4px;
    background:url('../../admin/img/icon-unknown.gif') 0 50% no-repeat; padding-left:14px;
}

.cmsblockcontrols a.delete {
    margin-right: 4px;
    background:url('../../admin/img/icon_deletelink.gif') 0 50% no-repeat; padding-left:14px;
}

.cmsblockcontrols form {
    display: inline;
    margin: 0 4px 0 -8px;
    padding: 0;
}

.cmsblockcontrols input {
    margin: 0 4px 2px 4px;
}

.cmsblockcontrols a:hover {
    text-decoration: underline;
}

.cmsblockcontrols p {
    margin: 0;
    padding: 0;
}

.cm table tr th {
    vertical-align: top;
}

.cm textarea {
    width:500px;
    height: 300px;
}

.cmsblock .cancel {
    font-size: 90%;
    color: #aaa;
}

.cm .errorlist, .cm .error, .cm .errors {
    margin-top: .5em;
    list-style: none;
    color: #a00;
}

.cm form p {
    line-height: 1;
    margin: 0;
}

.cm form label {
    display: block;
    clear: both;
    margin: .5em .5em 0 0;
    font-weight: bold;
}

.cm form input[type=text],
.cm form textarea,
.cm form #pipe-form select {
    width: 400px;
}

.cm form #pipe-form select {
    display: block;
    margin-bottom: .5em;
}

.cm form input[type=submit] {
    width: auto;
}

.cm .notify {
    border: 1px solid #ccc;
    padding: 1em;
    background-color: #ffc;
}

.cm form ul, .cm form li {
    padding: 0;
    margin: 0;
}

.cm form .submit {
    padding-top: .5em;
}
.cmsblockcontrols .move-up, .cmsblockcontrols .move-down {
    width: 15px;
    height: 10px;
    border: none;
}
.move-down {
    background:url('../../admin/img/sorting-icons.gif') 0 -92px no-repeat;
    padding-left:16px;
    margin-left:-20px;
}
.move-up {
    background:url('../../admin/img/sorting-icons.gif') 0 -48px no-repeat;
    padding-left:16px;
}
